<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="rateLimiter" class="wiki.laona.di.RateLimiter">
        <constructor-arg ref="redisCounter"/>
    </bean>

    <bean id="redisCounter" class="wiki.laona.di.RedisCounter" scope="singleton">
        <constructor-arg type="java.lang.String" value="127.0.0.1"/>
        <constructor-arg type="int" value="123"/>
    </bean>
</beans>